body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}

header {
  background-color: #2C3E50;
  color: white;
  padding: 1rem;
  text-align: center;
}

button.back-button {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980B9;
}

#class-list .class-card {
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

#class-list .class-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
